#sidebar {
	padding: 3em 1em;
	position: fixed;
	width: 20%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-content: center;
	background-color: #147d34;
	overflow: scroll;
}

.centered {
	margin: 0 auto;
}

.sidebar-header {
	color: #fff;
	text-align: center;
}

.boards-list:first-child {
	margin-top: 30px;
}

.board-create {
	margin-bottom: 3em;
}

@media screen and (max-width: 992px) {
	#sidebar {
		padding: 3em 0;
    left: auto;
    position: relative;
    text-align: center;
    top: auto;
    width: 100%;
    display: block;
  }
  .board-create {
  	margin-bottom: 10px;
  }
}