body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
}

main {
  margin: 0 auto;
  padding: 24px;
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

header {
  height: 68px;
  width: 100%;
  position: fixed;
  background-color: #424242;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

nav {
  height: 100%;
}

nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 1s;
}

a:active, a:hover {
  color: gold;
}

p {
  margin: 10px 0 10px;
}

input {
  margin: 5px;
  padding: 15px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2.5px solid rgba(245, 245, 245, 0.5);
  width: 100%;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
  width: 250px;
}

#logo {
  font-size: 2rem;
}

.card-panel {
  margin: 10px;
  padding: 24px;
  border: 1px solid black;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.caption {
  text-align: center;
  font-size: 1rem;
  color: #424242;
}

.btn {
  margin: 10px;
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.3;
  border-radius: 5px;
}

.invalid {
  border: 2px red solid;
}

.auth-error {
  color: red;
}

.boards-container {
  margin-top: 75px;
  display: flex;
  align-items: center;
}

.board-panel {
  max-width: 350px;
  margin: 10px;
  padding: 24px;
  background-color: #000080;
  color: #fff;
  border: 2.5px solid rgba(0, 0, 128, 0.8);
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
}

.board {
	background-color: #D3D3D3;
  border: 2.5px solid rgba(211, 211, 211, 08);
  text-align: center;
}

.catchy-title {
  color: #000;
  text-shadow: 1px 1px white;
}

.list {
	max-width: 350px;
  margin: 10px;
  padding: 24px;
  background-color: #D3D3D3;
  color: #fff;
  border: 2.5px solid rgba(211, 211, 211, 08);
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
}
.list ul {
  list-style: none;
  padding: 5px;
}

.list-item {
	margin: 5px 0 5px;
  padding: 5px 20px 5px 20px;
  background-color: #4ba33e;
  border: 2.5px solid rgba(75, 163, 62, 0.8);
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
}

.checked {
  text-decoration: line-through;
  color: #000;
  background-color: #ffb6c1;
  border: 2.5px solid rgba(255, 182, 193, 0.8);
}

.redirect {
  font-size: 2rem;
  color: darkred;
}

.center {
  text-align: center;
}

.right {
  float: right;
  margin-left: 10px;
}

/* 3rd party loading spinner animation */
.loader {
  color: #bc002d;
  font-size: 90px;
  text-indent: -9999em;
  background-color: #fff;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}